
.GL-selectbox-container {
	background-color: #fff;
	border: solid 1px #a5a5a5;
	font-family: Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	height: 30px;
	position: relative;
	width: 200px;
}

.GL-selectbox-btnToggle {
	background: url(./selectboxImg/select-icons.png) 0 -117px no-repeat;
	display: block;
	height: 30px;
	outline: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
}
.GL-selectbox-btnToggle:hover{
	background: url(./selectboxImg/select-icons.png) 0 -167px no-repeat;
}
.GL-selectbox-btnToggleOpen{
	background: url(./selectboxImg/select-icons.png) 0 -16px no-repeat;
}
.GL-selectbox-btnToggleOpen:hover{
	background: url(./selectboxImg/select-icons.png) 0 -66px no-repeat;
}

.GL-selectbox-selector {
	display: block;
	height: 30px;
	left: 0;
	line-height: 30px;
	outline: none;
	overflow: hidden;
	position: absolute;
	text-indent: 10px;
	top: 0;
	width: 170px;
}

.GL-selectbox-selector:link, 
.GL-selectbox-selector:visited, 
.GL-selectbox-selector:hover {
	color: #a5a5a5;
	outline: none;
	text-decoration: none;
}

.GL-selectbox-options {
	background-color: #fff;
	border: solid 1px #a5a5a5;
	list-style: none;
	left: -1px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 30px;
	height: 0px;
	width: 200px;
	z-index: 3;
	overflow-y: auto;
	
	-webkit-transition: all 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
	-moz-transition: all 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
    -o-transition: all 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000); 
		transition: all 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
		
}

.GL-selectbox-options:focus {
	outline:none;
}

.GL-selectbox-options li {
	padding: 0 7px;
}

.GL-selectbox-options a {
	border-bottom: dotted 1px #a5a5a5;
	display: block;
	outline: none;
	padding: 7px 0 7px 3px;
}

.GL-selectbox-options a:link, 
.GL-selectbox-options a:visited {
	color: #a5a5a5;
	text-decoration: none;
}

.GL-selectbox-options a:hover,
.GL-selectbox-options a:focus,
.GL-selectbox-options a.GL-selectbox-focus{
	color: #EBB52D;
}

.GL-selectbox-options li.last a{
	border-bottom: none;
}
.GL-selectbox-options .GL-selectbox-disabled{
	border-bottom: dotted 1px #a5a5a5;
	color: #e2e2e2;
	display: block;
	padding: 7px 0 7px 3px;
}
.GL-selectbox-options .GL-selectbox-group{
	border-bottom: dotted 1px #a5a5a5;
	color: #EBB52D;
	display: block;
	font-weight: bold;
	padding: 7px 0 7px 3px;
}
.GL-selectbox-options .GL-selectbox-sub{
	padding-left: 17px;
}